/* ==========================
TABLET
========================== */


@media(max-width:1024px){



.nav-links{

gap:20px;

}



.hero h1{

font-size:3.8rem;

}



.services-grid,
.industry-grid,
.values-grid{

grid-template-columns:repeat(2,1fr);

}



.stats-grid{

grid-template-columns:1fr;

}



.service-feature,
.difference-grid,
.contact-grid{

grid-template-columns:1fr;

}




.portfolio-grid{

grid-template-columns:1fr;

}



}




/* ==========================
MOBILE NAVIGATION
========================== */


@media(max-width:850px){



.nav-links{

display:none;

}




.nav-buttons{

display:flex;

}




.hamburger{

display:flex;

}





.header{

height:80px;

}





.hero{

min-height:700px;

}



.hero-content{

text-align:center;

}





.hero-buttons{

justify-content:center;

}





}





/* ==========================
PHONE
========================== */


@media(max-width:600px){



section{

padding:80px 5%;

}





.logo img{

height:100px;

width:auto;

}





.hero h1{

font-size:2.7rem;

}



.hero p{

font-size:1rem;

}





.page-hero h1{

font-size:2.6rem;

}





.page-hero p{

font-size:1rem;

}





.section-intro h2{

font-size:2rem;

}





.services-grid,
.industry-grid,
.values-grid,
.info-grid{

grid-template-columns:1fr;

}





.process-card{

flex-direction:column;

}



.process-number{

width:60px;

height:60px;

}





.contact-form-container{

padding:25px;

}





.primary-btn,
.secondary-btn{

width:100%;

}





.hero-buttons{

flex-direction:column;

}





.portfolio-image{

height:250px;

}





.footer-links{

flex-direction:column;

gap:15px;

}





}




/* ==========================
SMALL PHONES
========================== */


@media(max-width:400px){



.hero h1{

font-size:2.2rem;

}



.page-hero h1{

font-size:2.2rem;

}



}